.profile {
  background-color: rgb(255, 255, 255);
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}
.avatar {
  border-radius: 50%;
  background-color: gray;
}
.name {
  color: rgb(5, 0, 0);
  font-size: 22px;
  font-weight: 500;
}
.description {
  color: rgb(202, 198, 198);
  text-align: center;
  font-size: 18px;
}
.location {
  color: rgb(202, 198, 198);
  font-size: 18px;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.listElement {
  background-color: rgb(225, 235, 240);
  padding: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid gainsboro;
  border-bottom: none;
}
.listElement:first-child {
  border-left: none;
  border-right: none;
  border-bottom-left-radius: 8px;
}
.listElement:last-child {
  border-left: none;
  border-right: none;
  border-bottom-right-radius: 8px;
}
.label {
  color: rgb(202, 198, 198);
}
.quantity {
  color: rgb(5, 0, 0);
  font-weight: 500;
}
