.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40;
  row-gap: 60px;
  color: '#010101';
  background-color: rgb(243, 238, 232);
}
