.transaction-history {
  width: 400px;
  border-collapse: collapse;
  background-color: antiquewhite;
}
.head {
  background-color: rgb(28, 84, 129);
  padding: 8px 8px;
  border: 1px solid rgb(187, 182, 182);
  border-bottom: none;
  border-top: none;
  color: aliceblue;
}
.head:first-child {
  border-left: none;
}
.head:last-child {
  border-right: none;
}

.table-data {
  border: 1px solid rgb(187, 182, 182);
  border-bottom: none;
  border-top: none;
  text-align: center;
  padding: 10px 0;
}
.table-data:first-child {
  border-left: none;
  text-transform: capitalize;
}
.table-data:last-child {
  border-right: none;
}
.table-row:nth-child(even) {
  background-color: gray;
  color: wheat;
}
